/**
* Main stylesheet for Drupal Day Austin 2012 splash page
*/

// Fonts

@import url('http://fonts.googleapis.com/css?family=Asap:400,700');

$Asap: 'Asap', 'Helvetica Neue', Helvetica, sans-serif;

// Colors

$blue: #00ADA7;
$green: #A0E0A9;
$red: #C24704;
$mustard: #D9CC3C;

// Typography

h1, h2 {
  text-transform: uppercase;
}

h1, h2 {
  font-family: $Asap;
  font-weight: 700;
}

h3, h4, h5 {
  font-family: $Asap;
}


.subheader {
  text-transform: none;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
  li {
    font-size: 18px;
  }
}

address {
  font-style: normal;
}

footer p {
  font-size: 14px;
}

@media screen and (max-width: 480px) {

  h1 {
    font-size: 37px;
  }
  
  h2.subheader {
    font-size: 27px;
  }

  .venue {
    text-align: center;
  }

}